ol{
    display: flex;
}

.elem{
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
}

.active{
    background-color: aliceblue;
    color: blueviolet;
}